body {
  #block-sophia-content {
    padding: 1rem;

    @media (max-width: 931px) {
      div.col-sm-3, div.col-sm-4, div.col-sm-5 {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
      }

      div.col-sm-4 {
        span {
          margin-top: 0.75rem;
          margin-bottom: 0.75rem;
        }
      }

    }
  }
  span.field-item {
    div.row.item{
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }


  .facets-widget-checkbox {
    ul {
      text-align: left;
      li.facet-item {
        list-style: none;
      }
    }
  }
}

