#main-region {
  margin-top: 30px;
}
//page title

.page-title {
  font-size: 28px;
  color: $primary;
  font-weight: 200;

  span {
    &.quickedit-field {
      font-size: 28px;
      color: $primary;
      font-weight: 200;
    }
  }
}

.container {
  @media(min-width: 1200px) {
    max-width: 1430px;
  }
}

/* For Facet Search page*/
.view-s2d-faceted-search {
  .asset-icon {
    align-self: center;
  }

  .badge {
    border-radius: 1rem;
    font-weight: 400;
    padding: 0 1em;
    line-height: unset;

    &.badge-secondary {
      background: $secondary;
    }
  }
}
