html {
  body {
    background: darken($darker-gray, 5%);

    div {
      #wrapper {background: white;}

      div {

        header{
          nav#brandbar { background-color: #800000; color: white;}
        }

        section#featured-top, section#featured-bottom {
          background: white;
          margin: 2em 0;
          text-align: center;
        }

        div#main-region {
          background: white;
          div {
            main {
              background: white;
              padding: 1em 0;
              //margin: 1em 0;
            }
          }
          aside { padding: 1em 0;}
        }

        footer {
          background: darken($darker-gray, 5%);
          bottom: 0;
          .container-fluid {
            .row {
              background: darken($darker-gray, 5%);

              @media (min-width: 992px) {
                padding-bottom: 1em;
                padding-top: 2em;
              }
            }
          }

        }

      }

    }
  }

}
