/* Importing all sass files */
@import 'partials/allpartials';
@import 'regions/allregions';
@import "pages/all_pages";

.kint {
  font-size: 13px;
  margin: 8px 0;
  overflow-x: unset;
  white-space: nowrap;
}
