/* Importing all sass files */
/*This file is for gathering all partials into one file*/
/* Gotham Bold */
@font-face {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 700; }
/* Gotham Medium */
@font-face {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 500; }
/* Gotham Book */
@font-face {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 400; }
/* Gotham Light */
@font-face {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 300; }
/* Gotham Extra Light */
@font-face {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 200; }
h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham SSm A", "Gotham SSm B", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, "HelveticaNeue-Roman", "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
  font-weight: 300;
  margin: 0 0 .75em; }

/* Header sizes */
h1 {
  font-size: 36px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 18px; }

/** set base font size small so text is easy to read on small devices
then bump it up when the viewport is larger
typography across the site should scale to this value using ems **/
body, div, span, aside, section, header {
  font-size: 16px;
  line-height: 1.85em;
  font-family: "Gotham SSm A", "Gotham SSm B", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, "HelveticaNeue-Roman", "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
  font-weight: 200; }

p, p:last-child {
  margin-bottom: 1.25em; }

/* Until further notice*/
p, ul li, ol li {
  line-height: 1.85em; }

a, a:active, a:focus {
  color: #8f3931;
  transition: all .25s ease-out;
  text-decoration: none;
  font-family: "Gotham SSm A", "Gotham SSm B", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, "HelveticaNeue-Roman", "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
  font-weight: 300; }
  a:hover, a:active:hover, a:focus:hover {
    color: #8f3931;
    text-decoration: underline;
    transition: all .25s ease-out; }

ol li, ul li {
  margin-bottom: .5em; }

.facets-widget-checkbox ul {
  list-style: none;
  padding-inline-start: 5px; }
  .facets-widget-checkbox ul li {
    margin-bottom: unset; }
.facets-widget-checkbox input[type=checkbox] {
  margin-right: 1em; }
.facets-widget-checkbox label {
  color: #8f3931;
  text-transform: capitalize;
  margin-bottom: unset; }

.block h3 {
  font-size: 1.33em; }

.topnav {
  padding-top: 0;
  padding-bottom: 0; }
  .topnav > div {
    padding: 5px; }

@media (max-width: 991px) {
  #main-navbar ul {
    flex-direction: column; } }
@media (max-width: 991px) {
  #main-navbar ul {
    flex-direction: column; } }
#main-navbar ul > li {
  margin-bottom: 0; }
  #main-navbar ul > li > a {
    padding: 0;
    line-height: 4em;
    font-size: 0.8em; }

#main-region {
  margin-top: 30px; }

.btn.btn-primary {
  color: #fff;
  background-color: #8f3931;
  border-color: #8f3931; }

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1 solid transparent; }
  .button.button--primary {
    color: #fff;
    background-color: #8f3931;
    border-color: #8f3931; }

.page-title {
  font-size: 38px;
  color: #8f3931;
  font-weight: 200; }
  .page-title span {
    font-size: 38px;
    color: #8f3931;
    font-weight: 200; }

@media (min-width: 1200px) {
  .container {
    max-width: 1430px; } }

/* For Facet Search page*/
.view-s2d-faceted-search .asset-icon {
  align-self: center; }

.badge {
  border-radius: 1rem;
  font-weight: 400;
  padding: 0 1em;
  line-height: unset; }
  .badge.badge-secondary {
    background: #ba7b76; }

/* .asset-detail-page */
.asset-detail-page #block-views-block-s2d-asset-details-block-2 .view-content .views-row,
.asset-detail-page #block-views-block-s2d-asset-details-block-3 .view-content .views-row {
  max-width: 300px;
  border-radius: 5px;
  padding: 1em;
  min-height: 200px;
  text-align: center;
  box-shadow: 1px 1px 3px 1px #e0e0e0;
  border: 1px solid #eeeeee;
  margin: 1em; }
  .asset-detail-page #block-views-block-s2d-asset-details-block-2 .view-content .views-row .similar-assets .name,
  .asset-detail-page #block-views-block-s2d-asset-details-block-3 .view-content .views-row .similar-assets .name {
    font-weight: 400; }
  .asset-detail-page #block-views-block-s2d-asset-details-block-2 .view-content .views-row .similar-assets .classification,
  .asset-detail-page #block-views-block-s2d-asset-details-block-3 .view-content .views-row .similar-assets .classification {
    font-weight: 400; }
  .asset-detail-page #block-views-block-s2d-asset-details-block-2 .view-content .views-row .similar-assets .icon,
  .asset-detail-page #block-views-block-s2d-asset-details-block-3 .view-content .views-row .similar-assets .icon {
    margin-bottom: 1em;
    transition: all 0.5s ease-in-out; }
  .asset-detail-page #block-views-block-s2d-asset-details-block-2 .view-content .views-row:hover .icon,
  .asset-detail-page #block-views-block-s2d-asset-details-block-3 .view-content .views-row:hover .icon {
    color: maroon; }

.user-logged-in.path-user .user-info {
  display: flex;
  background: unset; }
  .user-logged-in.path-user .user-info .user-info-photo-wrapper {
    width: 200px; }
    .user-logged-in.path-user .user-info .user-info-photo-wrapper .user-info-photo {
      width: 150px;
      height: 150px; }
  .user-logged-in.path-user .user-info .user-info-name {
    color: #8f3931;
    background: unset; }
    .user-logged-in.path-user .user-info .user-info-name::before {
      content: "User Name: "; }
  .user-logged-in.path-user .user-info .user-info-email {
    color: #8f3931;
    background: unset; }
    .user-logged-in.path-user .user-info .user-info-email::before {
      content: "Email: "; }
.user-logged-in .statistics-table {
  width: 100%; }
  .user-logged-in .statistics-table thead {
    border-bottom: 1px solid #777777; }
    .user-logged-in .statistics-table thead th {
      background-color: transparent;
      color: #8f3931;
      text-align: left;
      padding-left: 1em;
      font-style: normal; }
  .user-logged-in .statistics-table tbody .training td {
    padding: 0.5em; }
.user-logged-in .trainings-list tbody tr.training-active {
  background-color: maroon !important;
  line-height: 3em; }
  .user-logged-in .trainings-list tbody tr.training-active td {
    padding-left: 4em; }

.step-list-top {
  margin-top: 5px; }
  .step-list-top li .number {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px dashed;
    border-radius: 100%;
    color: #8f3931;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 70px;
    font-weight: 700;
    height: 100px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1;
    width: 100px; }
  .step-list-top li.active .number {
    color: white;
    background-color: #8f3931;
    border-color: #8f3931; }

body.admin-learning-path.toolbar-horizontal.toolbar-tray-open .lateral-panel {
  top: 79px; }

body.admin-learning-path .activity-add,
body.admin-learning-path .entity-add.add {
  width: 390px;
  left: auto; }

body.admin-learning-path .lateral-panel {
  padding: 2rem;
  -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2); }

body.admin-learning-path .activity-add.add .step-1 .mat-radio-button,
body.admin-learning-path .entity-add.add .step-1 .mat-radio-button {
  border-left: 2px solid #8f3931;
  background-color: #f8f7f5;
  color: #585857; }

body.admin-learning-path .activity-add.add .step-1,
body.admin-learning-path .entity-add.add .step-1 {
  margin-left: -2rem; }

body.admin-learning-path .activity-add.add .step-1 .mat-radio-button + .mat-radio-button,
body.admin-learning-path .entity-add.add .step-1 .mat-radio-button + .mat-radio-button {
  margin-top: 5px; }

.mat-radio-outer-circle {
  box-sizing: border-box;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  transition: border-color ease 280ms;
  width: 20px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%; }

body.admin-learning-path .mat-radio-outer-circle {
  border-radius: 0;
  border-color: #f8f7f5;
  background-color: #f8f7f5; }

body.admin-learning-path .activity-add.add .step-2 button,
body.admin-learning-path .entity-add.add .step-2 button {
  width: 100%;
  text-align: left;
  border: unset;
  background: #e0e0e0;
  border-left: 2px solid #8f3931;
  padding: 0.75rem 2rem; }

body.admin-learning-path .activity-add.add .step-2 input[type=text],
body.admin-learning-path .entity-add.add .step-2 input[type=text] {
  background-color: #f8f7f5;
  border: 0;
  padding: 0.75rem 2rem;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-size: 18px; }

body.admin-learning-path .lateral-panel .info {
  padding: 0 2rem 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  border-bottom: 1px solid;
  margin-bottom: 47px;
  position: relative; }
  body.admin-learning-path .lateral-panel .info h2 {
    font-size: 24px; }
    body.admin-learning-path .lateral-panel .info h2 span {
      font-size: 24px; }

.form-select {
  height: 30px;
  min-width: 250px;
  border: 1px solid #e0e0e0; }

.kint {
  font-size: 13px;
  margin: 8px 0;
  overflow-x: unset;
  white-space: nowrap; }

/*# sourceMappingURL=style.css.map */
