@charset "UTF-8";
@import url(flexboxgrid/css/flexboxgrid.css);
.vertical-align-parent {
  transform-style: preserve-3d; }

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.hide {
  display: none; }
  .no-js .hide {
    display: block; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.link-shifter {
  position: relative;
  left: 0;
  transition: all 0.25s ease-in-out !important; }
  .link-shifter:hover, .link-shifterfocus {
    left: 3px; }

.row-padding {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 992px) {
    .row-padding {
      padding-top: 60px;
      padding-bottom: 60px; } }

/* Symbolset * www.symbolset.com * Copyright © 2012 Oak Studios LLC */
@font-face {
  font-family: "SSSocial";
  font-display: auto;
  src: url("https://d3qi0qp55mx5f5.cloudfront.net/shared-resources/c/fonts/symbolset/ss-social-circle.woff") format("woff"), url("https://d3qi0qp55mx5f5.cloudfront.net/shared-resources/c/fonts/symbolset/ss-social-circle.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
.ss-icon,
.ss-icon.ss-social,
.ss-icon.ss-social-circle,
[class^="ss-"]:before,
[class*=" ss-"]:before,
[class^="ss-"][class*=" ss-social"]:before,
[class*=" ss-"][class*=" ss-social"]:before,
[class^="ss-"].right:after,
[class*=" ss-"].right:after,
[class^="ss-"][class*=" ss-social"].right:after,
[class*=" ss-"][class*=" ss-social"].right:after {
  font-family: "SSSocial";
  color: #767676;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  font-smoothing: antialiased; }

.ss-icon.ss-social-circle,
[class^="ss-"].ss-social-circle:before,
[class*=" ss-"].ss-social-circle:before,
[class^="ss-"].ss-social-circle.right:after,
[class*=" ss-"].ss-social-circle.right:after {
  font-weight: bold; }

.ss-facebook:before, .ss-facebook.right:after {
  content: ''; }

.ss-twitter:before, .ss-twitter.right:after {
  content: ''; }

.ss-linkedin:before, .ss-linkedin.right:after {
  content: ''; }

.ss-googleplus:before, .ss-googleplus.right:after {
  content: ''; }

.ss-tumblr:before, .ss-tumblr.right:after {
  content: ''; }

.ss-youtube:before, .ss-youtube.right:after {
  content: ''; }

.ss-flickr:before, .ss-flickr.right:after {
  content: ''; }

.ss-instagram:before, .ss-instagram.right:after {
  content: ''; }

.ss-pinterest:before, .ss-pinterest.right:after {
  content: ''; }

@font-face {
  font-family: "SSSymbolicons";
  font-family: "SSSymbolicons";
  src: url("https://d3qi0qp55mx5f5.cloudfront.net/shared-resources/c/fonts/symbolset/ss-symbolicons-block.woff") format("woff"), url("https://d3qi0qp55mx5f5.cloudfront.net/shared-resources/c/fonts/symbolset/ss-symbolicons-block.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.ss-icon,
.ss-icon.ss-symbolicons-block,
[class^="ss-"]:before,
[class*=" ss-"]:before,
[class^="ss-"].ss-symbolicons-block:before,
[class*=" ss-"].ss-symbolicons-block:before,
[class^="ss-"].right:after,
[class*=" ss-"].right:after,
[class^="ss-"].ss-symbolicons-block.right:after,
[class*=" ss-"].ss-symbolicons-block.right:after {
  font-family: "SSSymbolicons";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="ss-"].right:before,
[class*=" ss-"].right:before {
  display: none;
  content: ''; }

.ss-search.right:after,
.ss-search:before {
  content: '🔍'; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-adjust-hue-button, input[type="number"]::-webkit-outer-adjust-hue-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.hide {
  display: none; }
  .no-js .hide {
    display: block; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.link-shifter {
  position: relative;
  left: 0;
  transition: all 0.25s ease-in-out !important; }
  .link-shifter:hover, .link-shifterfocus {
    left: 3px; }

.row-padding {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 992px) {
    .row-padding {
      padding-top: 60px;
      padding-bottom: 60px; } }

.vertical-align-parent {
  transform-style: preserve-3d; }

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

body {
  overflow-y: scroll;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-family: "Gotham SSm A", "Gotham SSm B", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  letter-spacing: normal;
  color: #4d4d4d; }

.maincontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
  width: 100%;
  min-height: 30vh;
  max-width: 1430px;
  margin: 0 auto; }
  .maincontent code {
    padding: 3em; }

.hide {
  display: none; }
  .no-js .hide {
    display: block; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.link-shifter {
  position: relative;
  left: 0;
  transition: all 0.25s ease-in-out !important; }
  .link-shifter:hover, .link-shifterfocus {
    left: 3px; }

.row-padding {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 992px) {
    .row-padding {
      padding-top: 60px;
      padding-bottom: 60px; } }

.vertical-align-parent {
  transform-style: preserve-3d; }

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.topnav {
  background-color: maroon;
  white-space: nowrap;
  width: 100%;
  margin: 0; }
  .topnav > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    max-width: 1430px; }
  .topnav a#uchicago {
    display: flex;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    margin: 0;
    padding: 0;
    align-items: center;
    transition: all 0.25s ease-in-out; }
    .topnav a#uchicago:focus, .topnav a#uchicago:hover {
      text-decoration: none; }
    .topnav a#uchicago:before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 25px;
      margin-right: 8px;
      background: transparent url("https://d3qi0qp55mx5f5.cloudfront.net/shared-resources/i/template/phoenix.svg") 0 0 no-repeat;
      background-size: 100%; }
  .topnav .navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    padding: .75em 0 .75em .75em; }
    .topnav .navbar-toggle:focus {
      outline: 0; }
    .topnav .navbar-toggle .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background: white; }
    .topnav .navbar-toggle .icon-bar + .icon-bar {
      margin-top: 4px; }
    @media (min-width: 992px) {
      .topnav .navbar-toggle {
        display: none; } }
  .topnav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: flex-end; }
    .topnav ul li {
      display: flex; }
      .topnav ul li#s a {
        color: white;
        font-size: 1.111111111em; }
    .topnav ul a {
      color: white;
      display: block;
      padding: .75em .75em 0.5em .75em;
      line-height: 1em; }
      @media (min-width: 992px) {
        .topnav ul a {
          padding: .75em; } }
      .topnav ul a#search-trigger {
        display: flex;
        justify-content: center;
        align-content: center; }
        li .topnav ul a#search-trigger {
          top: 0; }
      .topnav ul a:focus, .topnav ul a:hover {
        color: white;
        background: none;
        text-decoration: none; }

.hide {
  display: none; }
  .no-js .hide {
    display: block; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.link-shifter {
  position: relative;
  left: 0;
  transition: all 0.25s ease-in-out !important; }
  .link-shifter:hover, .link-shifterfocus {
    left: 3px; }

.row-padding {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 992px) {
    .row-padding {
      padding-top: 60px;
      padding-bottom: 60px; } }

.vertical-align-parent {
  transform-style: preserve-3d; }

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

#main-navbar {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-family: "Gotham SSm A", "Gotham SSm B", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  letter-spacing: normal;
  background-color: #fafafa;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0; }
  #main-navbar a {
    display: inline; }
  #main-navbar ul {
    width: 100%;
    float: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0; }
    @media (min-width: 992px) {
      #main-navbar ul {
        margin: 0 auto;
        display: flex;
        flex: 1;
        max-width: 1430px;
        margin-top: 0;
        margin-bottom: 0; } }
    #main-navbar ul > li {
      list-style-type: none;
      float: none; }
      @media (min-width: 992px) {
        #main-navbar ul > li {
          display: flex;
          flex: 1; } }
      #main-navbar ul > li a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: .72222222em;
        color: maroon;
        background-color: #fafafa;
        border-bottom: 4px solid #fafafa;
        padding-left: 0;
        padding-right: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center; }
        @media (min-width: 992px) {
          #main-navbar ul > li a {
            font-size: 0.6999999999999em;
            flex: 1; } }
        @media (min-width: 992px) and (max-height: 850px) {
          #main-navbar ul > li a {
            font-size: 0.666666667em; } }
        #main-navbar ul > li a:focus, #main-navbar ul > li a:hover {
          color: maroon;
          border-bottom: 4px solid #e0e0e0; }
      #main-navbar ul > li.dropdown-active a, #main-navbar ul > li.here a, #main-navbar ul > li.parent-here a {
        font-weight: 500;
        color: maroon;
        border-bottom: 4px solid maroon; }
      #main-navbar ul > li.here .dropdown-menu, #main-navbar ul > li.parent-here .dropdown-menu {
        display: none !important; }
  .no-js #main-navbar ul li ul {
    display: none; }
  #main-navbar.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-overflow-scrolling: touch; }
    #main-navbar.navbar-collapse.in {
      overflow-y: auto; }
    @media (min-width: 992px) {
      #main-navbar.navbar-collapse {
        width: auto; }
        #main-navbar.navbar-collapse.collapse {
          display: block !important;
          height: auto !important;
          padding-bottom: 0;
          overflow: visible !important; }
        #main-navbar.navbar-collapse.in {
          overflow-y: visible; }
        .navbar-fixed-top #main-navbar.navbar-collapse, .navbar-static-top #main-navbar.navbar-collapse, .navbar-fixed-bottom #main-navbar.navbar-collapse {
          padding-left: 0;
          padding-right: 0; } }

.collapse {
  display: none; }
  .collapse.in {
    display: block; }
  .collapse.tr.in {
    display: table-row; }
  .collapse.tbody.in {
    display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: "height, visibility";
  transition-property: "height, visibility";
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }

.hide {
  display: none; }
  .no-js .hide {
    display: block; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.link-shifter {
  position: relative;
  left: 0;
  transition: all 0.25s ease-in-out !important; }
  .link-shifter:hover, .link-shifterfocus {
    left: 3px; }

.row-padding {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 992px) {
    .row-padding {
      padding-top: 60px;
      padding-bottom: 60px; } }

.vertical-align-parent {
  transform-style: preserve-3d; }

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.wordmark {
  padding: 20px 0;
  background: white;
  border-bottom: 1px solid #e0e0e0; }
  @media (min-width: 768px) {
    .wordmark {
      padding: 30px 0; } }
  @media (min-width: 992px) {
    .wordmark {
      border-bottom: none; } }
  @media (min-width: 1200px) {
    .wordmark {
      padding: 40px 0; } }
  @media (min-width: 1460px) {
    .wordmark {
      padding: 60px 0; } }
  .wordmark h1 {
    margin: 0 auto;
    width: 75%;
    max-width: 370px; }
    @media (min-width: 1200px) {
      .wordmark h1 {
        width: 80%; } }
    @media (min-width: 1460px) {
      .wordmark h1 {
        max-width: 470px; } }
    @media (min-width: 992px) and (max-height: 850px) {
      .wordmark h1 {
        width: 30%;
        max-width: 370px; } }
    .wordmark h1 a {
      display: block;
      text-indent: -9999em;
      width: 100%;
      height: 0;
      padding-bottom: 13.753384073%;
      margin: 0 auto;
      background: transparent url("https://d3qi0qp55mx5f5.cloudfront.net/ee-demo/i/template/logo-maroon.svg") 0 0 no-repeat;
      background-size: 100% 100%; }
    .wordmark h1 img {
      display: none;
      visibility: hidden; }

.hide {
  display: none; }
  .no-js .hide {
    display: block; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.link-shifter {
  position: relative;
  left: 0;
  transition: all 0.25s ease-in-out !important; }
  .link-shifter:hover, .link-shifterfocus {
    left: 3px; }

.row-padding {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 992px) {
    .row-padding {
      padding-top: 60px;
      padding-bottom: 60px; } }

.vertical-align-parent {
  transform-style: preserve-3d; }

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

/* SEARCH BAR
-------------------------------------------------- */
#sitesearch {
  display: none; }

.search-bar {
  display: none;
  position: relative;
  height: 75px;
  *zoom: 1;
  background: black; }
  .search-bar:before, .search-bar:after {
    content: " ";
    display: table; }
  .search-bar:after {
    clear: both; }
  .search-bar input[type=text],
  .search-bar button {
    -webkit-appearance: none;
    border-radius: 0;
    outline: none; }
  .search-bar .search-bar-inner {
    position: absolute;
    bottom: 7px;
    width: 100%; }
  .search-bar .wrap {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1400px; }
    .search-bar .wrap:before, .search-bar .wrap:after {
      content: " ";
      display: table; }
    .search-bar .wrap:after {
      clear: both; }
  .search-bar .search-bar-help {
    font-family: "Gotham SSm A", "Gotham SSm B", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.66667em;
    letter-spacing: normal;
    line-height: 1em;
    display: block;
    letter-spacing: .05em;
    color: gray;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    z-index: 1;
    position: relative; }
  .search-bar .search-field {
    font-family: "Gotham SSm A", "Gotham SSm B", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.77778em;
    border: none;
    background: transparent;
    width: 80%;
    padding: 0;
    display: block;
    float: left;
    color: white;
    margin: 0;
    text-indent: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    .search-bar .search-field::-webkit-input-placeholder {
      color: #666666; }
    .search-bar .search-field:-moz-placeholder {
      color: #666666; }
    .search-bar .search-field::-moz-placeholder {
      color: #666666; }
    .search-bar .search-field:-ms-input-placeholder {
      color: #666666; }
  .search-bar .search-submit {
    background-color: transparent;
    color: white;
    border: 0;
    font-size: 2.111111111em;
    text-shadow: none;
    float: right;
    padding: 0;
    margin-top: 0;
    z-index: 2;
    height: 1.125em;
    line-height: 1.3em;
    transition: opacity ease-in-out .3s;
    animation: searchpulse 1.25s infinite alternate ease-in-out; }
    .search-bar .search-submit:hover, .search-bar .search-submit:focus {
      outline: none;
      border: none;
      opacity: .2;
      cursor: pointer; }
    .search-bar .search-submit:disabled {
      opacity: .5;
      cursor: default;
      animation-name: none;
      border: none; }
@keyframes searchpulse {
  0% {
    opacity: .5; }
  20% {
    opacity: .6; }
  40% {
    opacity: .7; }
  60% {
    opacity: .8; }
  80% {
    opacity: .9; }
  100% {
    opacity: 1; } }
  .search-bar.disabled .search-submit {
    cursor: default;
    opacity: .2; }

.no-js .topnav ul li {
  display: none; }
.no-js #sitesearch {
  display: block; }

/* placeholder text */
.lt-ie10 {
  /* fallback placeholder */ }
  .lt-ie10 input[type="text"] {
    height: 12px;
    padding: 6px; }
  .lt-ie10 .placeholder {
    color: #666666; }

.hide {
  display: none; }
  .no-js .hide {
    display: block; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.link-shifter {
  position: relative;
  left: 0;
  transition: all 0.25s ease-in-out !important; }
  .link-shifter:hover, .link-shifterfocus {
    left: 3px; }

.row-padding {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 992px) {
    .row-padding {
      padding-top: 60px;
      padding-bottom: 60px; } }

/* Symbolset * www.symbolset.com * Copyright © 2012 Oak Studios LLC */
@font-face {
  font-family: "SSSocial";
  font-display: auto;
  src: url("https://d3qi0qp55mx5f5.cloudfront.net/shared-resources/c/fonts/symbolset/ss-social-circle.woff") format("woff"), url("https://d3qi0qp55mx5f5.cloudfront.net/shared-resources/c/fonts/symbolset/ss-social-circle.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
.ss-icon,
.ss-icon.ss-social,
.ss-icon.ss-social-circle,
[class^="ss-"]:before,
[class*=" ss-"]:before,
[class^="ss-"][class*=" ss-social"]:before,
[class*=" ss-"][class*=" ss-social"]:before,
[class^="ss-"].right:after,
[class*=" ss-"].right:after,
[class^="ss-"][class*=" ss-social"].right:after,
[class*=" ss-"][class*=" ss-social"].right:after {
  font-family: "SSSocial";
  color: #767676;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  font-smoothing: antialiased; }

.ss-icon.ss-social-circle,
[class^="ss-"].ss-social-circle:before,
[class*=" ss-"].ss-social-circle:before,
[class^="ss-"].ss-social-circle.right:after,
[class*=" ss-"].ss-social-circle.right:after {
  font-weight: bold; }

.ss-facebook:before, .ss-facebook.right:after {
  content: ''; }

.ss-twitter:before, .ss-twitter.right:after {
  content: ''; }

.ss-linkedin:before, .ss-linkedin.right:after {
  content: ''; }

.ss-googleplus:before, .ss-googleplus.right:after {
  content: ''; }

.ss-tumblr:before, .ss-tumblr.right:after {
  content: ''; }

.ss-youtube:before, .ss-youtube.right:after {
  content: ''; }

.ss-flickr:before, .ss-flickr.right:after {
  content: ''; }

.ss-instagram:before, .ss-instagram.right:after {
  content: ''; }

.ss-pinterest:before, .ss-pinterest.right:after {
  content: ''; }

@font-face {
  font-family: "SSSymbolicons";
  font-family: "SSSymbolicons";
  src: url("https://d3qi0qp55mx5f5.cloudfront.net/shared-resources/c/fonts/symbolset/ss-symbolicons-block.woff") format("woff"), url("https://d3qi0qp55mx5f5.cloudfront.net/shared-resources/c/fonts/symbolset/ss-symbolicons-block.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.ss-icon,
.ss-icon.ss-symbolicons-block,
[class^="ss-"]:before,
[class*=" ss-"]:before,
[class^="ss-"].ss-symbolicons-block:before,
[class*=" ss-"].ss-symbolicons-block:before,
[class^="ss-"].right:after,
[class*=" ss-"].right:after,
[class^="ss-"].ss-symbolicons-block.right:after,
[class*=" ss-"].ss-symbolicons-block.right:after {
  font-family: "SSSymbolicons";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="ss-"].right:before,
[class*=" ss-"].right:before {
  display: none;
  content: ''; }

.ss-search.right:after,
.ss-search:before {
  content: '🔍'; }

.vertical-align-parent {
  transform-style: preserve-3d; }

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

footer {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-family: "Gotham SSm A", "Gotham SSm B", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  letter-spacing: normal;
  background: #404040;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  footer > .container-fluid {
    max-width: 1430px; }
    footer > .container-fluid > .row {
      padding-top: 30px;
      padding-bottom: 30px; }
      @media (min-width: 992px) {
        footer > .container-fluid > .row {
          padding-top: 60px;
          padding-bottom: 60px; } }
  footer a {
    text-decoration: none; }
    footer a b {
      font-weight: 500; }
    footer a:hover, footer a:focus {
      text-decoration: underline;
      color: white; }
  footer a.uchicago-wordmark {
    background: transparent url("https://d3qi0qp55mx5f5.cloudfront.net/shared-resources/i/template/uchicago_wordmark.svg") 0 0 no-repeat;
    background-size: contain;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 20%;
    opacity: .75;
    overflow: hidden;
    text-indent: -9999em;
    transition: opacity 0.3s ease-in-out;
    margin: 0 0 30px 0; }
    footer a.uchicago-wordmark:hover, footer a.uchicago-wordmark:focus {
      opacity: 1; }
    @media (min-width: 992px) {
      footer a.uchicago-wordmark {
        margin: 0; } }
  footer p, footer address, footer a {
    color: #d6d6ce;
    line-height: 1.75em;
    font-style: normal;
    margin: 0; }
  footer p, footer address, footer ul {
    font-size: 0.666666667em;
    font-weight: 400; }
    @media (min-width: 992px) {
      footer p, footer address, footer ul {
        font-weight: 300; } }
  footer address {
    text-align: center; }
    @media (min-width: 992px) {
      footer address {
        text-align: left; } }
  footer address,
  footer p.footer-bug {
    margin: 0 0 30px 0; }
    @media (min-width: 992px) {
      footer address,
      footer p.footer-bug {
        margin: 0; } }
  footer a {
    transition: color 0.3s ease-in-out; }
    footer a:hover, footer a:focus {
      color: white; }
  footer ul.site-links {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.75em;
    text-align: right; }
    @media (min-width: 992px) {
      footer ul.site-links {
        text-align: left; } }
    footer ul.site-links li {
      margin-bottom: .5em; }
      footer ul.site-links li:last-child {
        margin-bottom: 0; }
      footer ul.site-links li span {
        display: none;
        visibility: hidden; }
        @media (min-width: 768px) {
          footer ul.site-links li span {
            display: inline;
            visibility: visible; } }
    footer ul.site-links.uc {
      font-weight: 500;
      text-align: left; }
  footer ul.social {
    font-size: 1.222222222em;
    margin: 30px 0 0 -0.5rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media (min-width: 992px) {
      footer ul.social {
        margin-top: 0;
        justify-content: flex-start; } }
    footer ul.social li {
      display: flex;
      margin: .5rem; }
      footer ul.social li a {
        color: #d6d6ce !important;
        line-height: 1.22222222em;
        flex: 1; }
        footer ul.social li a:hover, footer ul.social li a:focus {
          color: white !important; }
  footer .timestamp {
    border-top: 1px solid #343434; }
    footer .timestamp p {
      border-top: 1px solid #4d4d4d;
      margin: 0 auto;
      padding: 15px 0;
      text-align: center;
      line-height: 1em;
      font-weight: 300; }

/*# sourceMappingURL=main.css.map */
