header {
  .wordmark {
    padding: 20px 0;
    background: white;
    border-bottom: 1px solid #e0e0e0;

    .logo {
      margin: 0 auto;
      width: 75%;
      max-width: 370px;

      a {
        display: block;
        text-indent: -9999em;
        width: 100%;
        height: 0;
        padding-bottom: 13.753384073%;
        margin: 0 auto;
        background: transparent url("../UChicago_Sig_SymptomToDiagnosis_CMYK_Horizontal_Maroon.svg") 0 0 no-repeat;
        background-size: 100% 100%;
      }

      img {
        display: none;
        visibility: hidden;
      }
    }

    .portal-logo {
      a {
        display: block;
        text-indent: -9999em;
        width: 300px;
        height: auto;
        padding-bottom: 13.753384073%;
        margin: 6px auto 0 auto;
        background: transparent url(../UChicago_Sig_SymptomToDiagnosis_CMYK_Horizontal_Maroon.svg) 0 0 no-repeat;
        background-size: contain;
      }
    }
    .portal-home-icon{
      padding-top: 6px;
    }

  }

  @media (min-width: 768px) {
    .wordmark {
      padding: 30px 0;
    }
  }

  @media (min-width: 992px) {
    .wordmark {
      border-bottom: none;
    }
  }

  @media (min-width: 1200px) {
    .wordmark {
      padding: 40px 0;
    }
  } 

  @media (min-width: 1460px) {
    .wordmark {
      padding: 60px 0;
    }
  }

  @media (min-width: 1200px) {
    .wordmark .logo {
      width: 80%;
    }
  }

  @media (min-width: 1460px) {
    .wordmark .logo {
      max-width: 470px;
    }
  }

  @media (min-width: 992px) and (max-height: 850px) {
    .wordmark .logo {
      width: 30%;
      max-width: 370px;
    }
  }

  

}