#main-region {
  margin-top: 30px;
}

.user-login-link {
  color: #ffffff;
}

.user-logged-in {
  .user-login-link {
    display: none;
  }
  .user-account-span{
    display: block;
  }
}

.user-account-span{
  display: none;
    a{
      color: #ffffff;
      &:hover{
        text-decoration: none;
      }
    }
}
//buttons

.btn {
  &.btn-primary {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
  }
}

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1 solid transparent;

  &.button--primary {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
  }
}
//page title
.page-title {
  font-size: 38px;
  color: $primary;
  font-weight: 200;

  span {
    font-size: 38px;
    color: $primary;
    font-weight: 200;
  }
}

.container {
  @media(min-width: 1200px) {
    max-width: 1430px;
  }
}
/* For Facet Search page*/
.view-s2d-faceted-search {
  .asset-icon {
    align-self: center;
  }
  .view-content{
    h3{
      background: #e0e0e0;
    padding: .4em;
    }
  }
}

.badge {
  border-radius: 1rem;
  font-weight: 400;
  padding: 0 1em;
  line-height: unset;

  &.badge-secondary {
    background: $secondary;
  }
}
/* .asset-detail-page */
.asset-detail-page {
  #block-views-block-s2d-asset-details-block-2,
  #block-views-block-s2d-asset-details-block-3,
  #more-about-sympton {
    .view-display-id-more_about_symptom{
      display: flex;
    }
    .more-link{
      width: 250px;
    align-self: center;
    }
    .view-content {
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 767px){
        justify-content: center;
      }
      .views-row {
        width: 250px;
        border-radius: 5px;
        padding: 1em;
        min-height: 200px;
        text-align: center;
        box-shadow: 1px 1px 3px 1px #e0e0e0;
        border: 1px solid $gray-lighter;
        margin: 1em;

        .similar-assets {
          .name {
            font-weight: 400;
          }

          .classification {
            font-weight: 400;
          }

          .icon {
            margin-bottom: 1em;
            transition: all 0.5s ease-in-out;
          }
        }

        &:hover {
          .icon {
            color: $maroon;
          }
        }
      }
    }
  }

  //Hiding the next button on the asset detail page
  input[value="Next"]{
    display: none;
  }

  .view-display-id-asset_series{
    .view-content{
      padding: 2em 0;
      .views-row{
        .series-item{
          padding: .5em;
        }
        &:nth-child(odd){
          .series-item{
            background-color: #e0e0e0;
          }
        }
      }
    }
  }
}

.toolbar-menu-administration{
  ul{
    li{
      margin-bottom: 0em;
    }
  }
}
