/* Symbolset * www.symbolset.com * Copyright © 2012 Oak Studios LLC */
@font-face {
  font-family:"SSSocial";
  font-display: auto;
  src:url('#{$cf-shared-fonts}symbolset/ss-social-circle.woff') format('woff'), url('#{$cf-shared-fonts}symbolset/ss-social-circle.ttf') format('truetype');
  font-weight:bold;
  font-style:normal;
}

.ss-icon,
.ss-icon.ss-social,
.ss-icon.ss-social-circle,
[class^="ss-"]:before,
[class*=" ss-"]:before,
[class^="ss-"][class*=" ss-social"]:before,
[class*=" ss-"][class*=" ss-social"]:before,
[class^="ss-"].right:after,
[class*=" ss-"].right:after,
[class^="ss-"][class*=" ss-social"].right:after,
[class*=" ss-"][class*=" ss-social"].right:after {
  font-family: "SSSocial";
  color: #767676;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  font-smoothing: antialiased;
}

.ss-icon.ss-social-circle,
[class^="ss-"].ss-social-circle:before,
[class*=" ss-"].ss-social-circle:before,
[class^="ss-"].ss-social-circle.right:after,
[class*=" ss-"].ss-social-circle.right:after {
  font-weight: bold;
}

.ss-facebook:before,.ss-facebook.right:after { content: ''; }
.ss-twitter:before,.ss-twitter.right:after { content: ''; }
.ss-linkedin:before,.ss-linkedin.right:after { content: ''; }
.ss-googleplus:before,.ss-googleplus.right:after { content: ''; }
.ss-tumblr:before,.ss-tumblr.right:after { content: ''; }
.ss-youtube:before,.ss-youtube.right:after { content: ''; }
.ss-flickr:before,.ss-flickr.right:after { content: ''; }
.ss-instagram:before,.ss-instagram.right:after { content: ''; }
.ss-pinterest:before,.ss-pinterest.right:after { content: ''; }


// Symbolset * www.symbolset.com * Copyright © 2012 Oak Studios LLC */
@font-face {
  font-family: "SSSymbolicons";
  font-family: "SSSymbolicons";
  src: url('#{$cf-shared-fonts}symbolset/ss-symbolicons-block.woff') format('woff'), url('#{$cf-shared-fonts}symbolset/ss-symbolicons-block.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.ss-icon,
.ss-icon.ss-symbolicons-block,
[class^="ss-"]:before,
[class*=" ss-"]:before,
[class^="ss-"].ss-symbolicons-block:before,
[class*=" ss-"].ss-symbolicons-block:before,
[class^="ss-"].right:after,
[class*=" ss-"].right:after,
[class^="ss-"].ss-symbolicons-block.right:after,
[class*=" ss-"].ss-symbolicons-block.right:after {
  font-family: "SSSymbolicons";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  @include font-smoothing(on);
}

[class^="ss-"].right:before,
[class*=" ss-"].right:before {
  display: none;
  content: '';
}

.ss-search.right:after,
.ss-search:before {
  content: '🔍';
}