.block{
  h3{
    font-size: 1.33em;
  }
}

.sidebar-first{
  .block{
    margin-bottom: 2em;
  }
}

select{
  &.facets-dropdown{
    text-transform: capitalize;
    option{
      text-transform: capitalize;
    }
  }
}
