
.fa-user:before { content: '\e800'; } /* '' */
.fa-book:before { content: '\e801'; } /* '' */
.fa-trophy:before { content: '\e802'; } /* '' */
.fa-question-circle:before { content: '\e803'; } /* '' */
.fa-login:before { content: '\e804'; } /* '' */
.fa-logout:before { content: '\e805'; } /* '' */
.fa-play:before { content: '\e806'; } /* '' */
.fa-cancel-circled:before { content: '\e807'; } /* '' */
.fa-link:before { content: '\e808'; } /* '' */
.fa-home:before { content: '\e809'; } /* '' */
.fa-info-circled:before { content: '\e80a'; } /* '' */
.fa-down-open:before { content: '\e80b'; } /* '' */
.fa-left-open:before { content: '\e80c'; } /* '' */
.fa-right-open:before { content: '\e80d'; } /* '' */
.fa-up-open:before { content: '\e80e'; } /* '' */
.fa-up-big:before { content: '\e80f'; } /* '' */
.fa-right-big:before { content: '\e810'; } /* '' */
.fa-left-big:before { content: '\e811'; } /* '' */
.fa-down-big:before { content: '\e812'; } /* '' */
.fa-down-circled2:before { content: '\e813'; } /* '' */
.fa-up-circled2:before { content: '\e814'; } /* '' */
.fa-left-circled:before { content: '\f0a8'; } /* '' */
.fa-right-circled:before { content: '\f0a9'; } /* '' */
.fa-up-circled:before { content: '\f0aa'; } /* '' */
.fa-sitemap:before { content: '\f0e8'; } /* '' */
.fa-user-md:before { content: '\f0f0'; } /* '' */
.fa-stethoscope:before { content: '\f0f1'; } /* '' */
.fa-question:before { content: '\f128'; } /* '' */
.fa-info:before { content: '\f129'; } /* '' */
.fa-angle-circled-left:before { content: '\f137'; } /* '' */
.fa-angle-circled-right:before { content: '\f138'; } /* '' */
.fa-angle-circled-up:before { content: '\f139'; } /* '' */
.fa-play-circle:before { content: '\f144'; } /* '' */
.fa-right-circled2:before { content: '\f18e'; } /* '' */
.fa-left-circled2:before { content: '\f190'; } /* '' */
.fa-heartbeat:before { content: '\f21e'; } /* '' */
.fa-user-plus:before { content: '\f234'; } /* '' */
.fa-user-times:before { content: '\f235'; } /* '' */
.fa-user-circle:before { content: '\f2bd'; } /* '' */
.fa-user-circle-o:before { content: '\f2be'; } /* '' */
.fa-podcast:before { content: '\f2ce'; } /* '' */