//@import "libs/helper-classes.css.scss";
//@import "libs/variables.css.scss";

.wordmark {
  padding: ($grid-gutter-width*.666666667) 0;
  background: $white;
  border-bottom: 1px solid darken($lightest-gray, 5%);
	@media (min-width: $screen-sm-min) {
		padding: $grid-gutter-width 0;
	}
  @media (min-width: $screen-md-min) {
    border-bottom:none;
	}
  @media (min-width: $screen-lg-min) {
    padding: ($grid-gutter-width*1.333333333) 0;
  }
  @media (min-width: $screen-xl-min) {
    padding: ($grid-gutter-width*2) 0;
  }
  h1 {
    margin: 0 auto;
    width: 75%;
    max-width: 370px;
    @media (min-width: $screen-lg-min) {
      width: 80%;
    }
    @media (min-width: $screen-xl-min) {
      max-width: 470px;
  	}
    @media (min-width: $screen-md-min) and (max-height: 850px) {
      width: 30%;
      max-width: 370px;
    }
    a {
      display: block;
      text-indent: -9999em;
      width: 100%;
      height: 0;
      // Change padding-bottom to properly size logo
      padding-bottom: 13.753384073%;
      margin: 0 auto;
      background: rgba(0, 0, 0, 0) url('#{$cf-url}/ee-demo/i/template/logo-maroon.svg') 0 0 no-repeat;
      background-size: 100% 100%;
    }
    img {
      display: none;
      visibility: hidden;
    }
  }
}
